---
layout: default
---

{% include header.html %}
		<div class="row-fluid">
			<div class="slider">
				<div class="container ">
					<div class="span8 slider-img">
						<div class="imglst"><img src="assets/slider.png" alt="" border="0"></div>
					</div>
					<div class="span4 slider-information">
						<h2>Ruby on rails <br>
						Web Development</h2>
						<p>We change your idea into business</p>
					</div>
				</div>
		
			</div>
		</div><!--  End Slider -->

		<div class="row-fluid deliver">
			<div class="container ">
				<div class="deliver-title text-center">What we deliver</div>
				<div class="span12 deliver-short-content pull-right">
					<div class="span3 text-center agile ">
						<div class="img agile-img"></div>
					 	<h3><strong>Agile</strong> Development</h3>
						<p>We build applications and services very fast. Your prototype will be built rapidly, and you get a working subset of your MVP at the end of each iteration.
						</p> 
					</div>
					<div class="span3 text-center stratup">
						<div class="img stratup-img"></div>
						<h3><strong>Startup</strong> Consulting</h3>
						<p>Not sure if the idea can be implemented or how much does it cost to build it? We advise our clients at all stages of development. We do research, A/B testing and business model validation.
						</p>
					</div>
					<div class="span3 text-center reliable">
						<div class="img reliable-img"></div>
						<h3><strong>Reliable </strong> Deployment</h3>
						<p>Cloud or dedicated hardware, high-traffic or low-traffic, our engineers will find the best deployment scenario and implement it reliabily.
						</p>
					</div>
					<div class="span3 text-center maintanence">
						<div class="img maintanence-img"></div>
						<h3><strong>Mantenance</strong> and Growth</h3>
						<p>You are not left alone after you launch your app. We are here to help, resolve all issues or scale to handle increased traffic. 
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="container our-main">
				<div class="span4 aboutus">
					<div>
						<i class="icons aboutus-icon"></i>
						<h3>About Us</h3>
					</div>
					<p>
						CodeKathmandu specializes in offshore Ruby on Rails Development. What sets us apart from others in the league is that we offer end-to-end solutions and boast of some top notch Ruby On Rails developers. 
					</p>
				</div>
				<div class="span4">
					<div>
						<i class="icons vision-icon"></i>
						<h3>Our Vision</h3>
					</div>

					<p>
						We are passionate about building new tools and services for our clients. There is nothing more exciting than to watch a startup succeed. We want to be part of it, and we can help by developing great software.
					</p>
				</div>
				<div class="span4">
					<div><div class="icons experience-icon"></div><h3>our experience</h3></div>
					<p>
						Social-networking applications, e-commerce platforms, CRM systems, web widgets and CMS pages - we built those many times already. But we are always looking to explore unexplored, deliver new, exciting projects that are pushing boundaries of technology.
					</p>
				</div>
			</div>
		</div><!-- End Aboutus, vision and experience -->
		<div class="row-fluid technology-client">
			<div class="container ">
				<div class="span6 tech">
					<h3>Technology</h3>
					<div class="tech-img">
						<img src="assets/tecnology.png">
					</div>
				</div>
				<div class="span6 client">
					<h3>Our Clients</h3>
					<div class="client-img">
						<img src="assets/client.png">
					</div>
				</div>
			</div>
		</div> <!-- End Technology and client -->
	{% include footer.html %}




