  <div class="row-fluid footer">
        <div class="container ">
            <div class="span4" >
              <h3>Meet our wonderful team</h3>
              <p>We employ a dedicated and hard working team of software & business experts. Our team ranges from developers & designers to system administrators & business managers. We’re highly motivated and love the work we do. It’s not unusual for our guys to be working long into the night or over the weekend completing various projects or supporting our customers.
            </p>
            </div><!-- end Meet our team -->
            <div class="span4">
              <h3>Quick Contact Form</h3>
              <form>
                <p><textarea class="message contact-text" row="5">Message...</textarea></p>
                <p class="row-fluid">
                  <input type="text" value="your name ..." class="name contact-text span6">
                  <input type="text" value="Your email address ..." class="email contact-text span6">
                </p>
                <p><button type="submit" class="send">Send</button></p>
              </form>
            </div><!-- end Quick Contact Form -->
            <div class="span4">
              <h3>Talk to Us</h3>
              <div class="contact-information">
                <strong>Codekathmandu</strong><br>
                <address>
                   <a href="mailto:#">codekathmandu@info</a> <br>
                  codekathmandu<br>
                  +977 01 5458684
                </address>

              </div>
            </div><!-- end Talk to Us -->
        </div>
    </div>

